@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Nunito&family=Raleway:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}
